.question-card-container {
  padding: 20px;
  background-color: #ddfef8;
  color: #23194f;
  max-width: 700px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(35, 25, 79, 0.2);
}

.question-image {
  width: 100%;
  border-radius: 12px;
  margin: 15px 0;
}

.options-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.options-container button {
  background-color: #23194f;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  cursor: pointer;
  flex: 1 1 40%;
  max-width: 180px;
}

.options-container button:hover {
  background-color: #3b2a8e;
}
.options-container.hide {
  opacity: 0;
  pointer-events: none; /* Tıklamayı engelle */
  transition: opacity 0.5s ease;
}

.options-container.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
}
.option-button.eliminated {
  background-color: #ccc;
  color: #777;
  cursor: not-allowed;
}
