/* Tüm boşlukları sıfırla */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body ve html'e özel */
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  