/* src/styles/global.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f1f3f6; /* Arka plan: açık gri */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1a1a1a; /* Yazı: koyu gri (neredeyse siyah) */
}

h1,
h2,
h3 {
  color: #333;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
}
